$button-color: #6699ff;
$padding-left: 39px;
$background-color: #f5f5f5;
body {
  font-family: 'SegoeUIRegular', serif;
  font-size: 13px;
  background: $background-color;
  margin: 0px;
}

.main-div {
  padding: 0px 20px 0px 0px;
  height: 99px;
  background: $background-color;
}

.buttons {
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 39px;
  height: 100px;
  background: white;
}

.email-button {
  height: 30px;
  display: inline-block;
  position: relative;
  float: left;
  border: solid $button-color;
  margin-right: 20px;
  background: $button-color;
  color: white;
  border-radius: 2px;
  font-size: 13px;
}

.email-button-add {
  padding: 0px 20px 0px 16px;
}

.email-button-get {
  padding: 0px 7px 0px 8px
}

.directive-container {
  height: 100%;
  background: white;
  overflow-x: auto;
  border-top: 1px solid #c6c6c6;
  margin-left: $padding-left;
}

.email-string {
  border: 0px;
  padding: 4px;
  display: inline-block;
  position: relative;
  float: left;
  outline: none;
  margin: 7px 0px 0px 5px;
  font-size: 13px;
}

.email {
  border: 1px solid #dae8fe;
  display: inline-block;
  position: relative;
  float: left;
  border-radius: 15px;
  background: #dae8fe;
  padding: 1px 6px 3px 8px;
  margin: 7px 2px 0px 8px;
}

.email__div {
  color: black;
}

.email__name {
  display: inline-block;
  float: left;
}

.email__name-invalid {
  display: inline-block;
  float: left;
  text-decoration: underline;
  color: red;
}

.email__close-button {
  display: inline-block;
  font-size: 19px;
  vertical-align: middle;
  cursor: pointer;
  margin: -9px 0px -3px 5px;
  padding-bottom: 0px;
  color: #000;
}

.title {
  height: 61px;
  padding: 40px 0px 0px $padding-left;
  font-size: 19px;
  background: $background-color;

}