<div class="directive-container"
     ng-click="ctrl.setInputFocus($event)">
    <div class="email" ng-repeat="email in ctrl.emails track by $index">
        <div class="{{email.isValid ? 'email__name' : 'email__name-invalid'}}">
            <div class="email__div">{{email.name}}</div>
        </div>
        <div ng-click="ctrl.deleteEmailString($index)" class="email__close-button">&#xD7</div>
    </div>
    <input id="inputFocus"
           type="text"
           class="email-string"
           ng-model="ctrl.emailString"
           ng-keyup="ctrl.addEmailWithEvent($event)"
           ng-blur="ctrl.onBlur($event)"
           placeholder="add more people..."/>
</div>