<div class="directive-container"
     ng-click="emailCtrl.setInputFocus($event)">
    <div class="email" ng-repeat="email in emails track by $index">
        <div class="{{emailCtrl.checker(email) ? 'email__name' : 'email__name-invalid'}}">
            <div class="email__div">{{email}}</div>
        </div>
        <div ng-click="emailCtrl.deleteEmail($index)" class="email__close-button">&#xD7</div>
    </div>
    <input id="inputFocus"
           type="text"
           class="email-string"
           ng-model="emailCtrl.emailString"
           ng-keyup="emailCtrl.addEmailWithEvent($event)"
           ng-blur="emailCtrl.onBlur()"
           placeholder="add more people..."/>
</div>