<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTB</title>
</head>
<body ng-app="app">
<div class="title">Share "Board name" with others</div>
<div class="main-div" ng-controller="MainController as ctrl">
    <emails-editor emails="ctrl.emails" add-email="ctrl.addEmail" delete-email="ctrl.deleteEmail"></emails-editor>
    <div class="buttons">
        <button class="email-button email-button-add" ng-click="ctrl.addEmails()">Add email</button>
        <button class="email-button email-button-get" ng-click="ctrl.getEmailsCount()">Get emails count</button>
    </div>
</div>
</body>
</html>
