<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RTB</title>
</head>
<body ng-app="app">
<div class="title">Share "Board name" with others</div>
<div class="main-div" ng-controller="EmailController as ctrl">
    <emails-editor ctrl="ctrl"></emails-editor>
    <div class="button-div">
        <button class="email-button add-email-button" ng-click="ctrl.addEmails(ctrl.getRandomEmail())">Add email
        </button>
        <button class="email-button get-emails-button" ng-click="ctrl.getEmailsCount()">Get emails count</button>
    </div>
</div>
</body>
</html>
